# Web Application & Data Visualization
streamlit
pandas
matplotlib
seaborn
plotly

# Core ML and Data Handling
numpy
scikit-learn
scipy
joblib

# Image Processing
opencv-python-headless
Pillow

# Deep Learning (for Transfer Learning)
tensorflow